<div class="scroll_sec">
  <div class="container">
    <div class="hed_sty1 text-center m_tb_50">Family</div>
    <div class="row pan_box_sec">
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objFamiliesstreetunallocated}}</div>
          <div class="txt">
            Families with street as UnAllocated
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objFamiliesfacilityunallocated}}</div>
          <div class="txt">
            Families with facility as UnAllocated
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objFamilieswithnull}}</div>
          <div class="txt">
            Families with null or empty shop code
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objFamilieswithmore}}</div>
          <div class="txt">
            Families with more than 10 members
          </div>
        </div>
      </div>
    </div>

    <div class="hed_sty1 text-center m_tb_50">Member</div>
    <div class="row pan_box_sec">
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objmemberswithstreetsunallocated}}</div>
          <div class="txt">
            Members with street as UnAllocated
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objmemberswithfacilityunallocated}}</div>
          <div class="txt">
            Members with facility as UnAllocated
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objmemberswithaadhaar_number}}</div>
          <div class="txt">
            Members with valid Aadhar Card
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objverifiedmembers}}</div>
          <div class="txt">
            Verified Member
          </div>
        </div>
      </div>
    </div>

    <div class="hed_sty1 text-center m_tb_50">Street</div>
    <div class="row pan_box_sec">
      <div class="col-sm-6 d_flex">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objstreetswithfacilityunallocated}}</div>
          <div class="txt">
            streets with facility_id as UnAllocated

          </div>
        </div>
      </div>
    </div>



    <div class="hed_sty1 text-center m_tb_50">Shop</div>
    <div class="row pan_box_sec">
      <div class="col-sm-6 d_flex flex_wrap col_2_w_gap_15">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objshopswithnomappinfstreets}}</div>
          <div class="txt">
            Shops with no mapping to valid street
          </div>
        </div>
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objshopswithnomappinfstreets}}</div>
          <div class="txt">
            Shop unallocated to street and not unallocated to shop name
          </div>
        </div>
      </div>
    </div>


    <div class="hed_sty1 text-center m_tb_50">Screened</div>
    <div class="row pan_box_sec">
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objmembersinhistorynothavingscreening}}</div>
          <div class="txt">
            Members in History but not having screenings

          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objmembershavingscreeningnothavinghistory}}</div>
          <div class="txt">
            Members having screening but not History data

          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objmobilenumbermorethan}}</div>
          <div class="txt">
            Mobile numbers with more than 10 members associated

          </div>
        </div>
      </div>
    </div>
    
    <div class="row pan_box_sec">
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objmemberswithmobilenumber}}</div>
          <div class="txt">
            Members with mobile number
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objpopulationmappedwithstreet}}</div>
          <div class="txt">
            Population mapped with streets
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objMembersmappedtoUnallocatedfacility}}</div>
          <div class="txt">
            Members mapped to Unallocated facility


          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
          <div class="num">{{objMemberswithstreetasUnAllocated}}</div>
          <div class="txt">
            Members with street as UnAllocated
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
