.table_box .table tbody {
    max-height: 400px;
    overflow: auto;
}

.wrapper {
    overflow-x: auto;
    height: 400px;
}

thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}