<div class="hed_sty1">DPH Dashboard <i class="bi bi-heart"></i></div>
<app-filters [dphDashboard]="true" [showSearch]="true" (searchFilter)="SearchFilter()" #child></app-filters>
<div class="scroll_sec">
    <div class="container">
        <div class="row pan_box_sec">
            <div class="col-sm-4 d_flex flex_wrap row_gap_30 ">
                <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
                    <div class="num">{{populationTotal | number}}</div>
                    <div class="txt">Population(Age >=18)</div>
                </div>
            </div>
            <div class="col-sm-4 d_flex flex_wrap row_gap_30 ">
                <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
                    <div class="num">{{screeningCount | number}}</div>
                    <div class="txt">Screening(Age >18)</div>
                </div>
            </div>
            <div class="col-sm-4 d_flex flex_wrap row_gap_30 ">
                <div class="pan_box num_sec d_flex flex_d_c flex_justify_center min_h_230">
                    <div class="num">{{confirmedCasesCount | number}}</div>
                    <div class="txt">Confirmed</div>
                </div>
            </div>
        </div>
        <div class="row pan_box_sec">
            <div class="col-sm-4 ">
                <div class="pan_box min_h_600">
                    <div class="chart-center">
                        <h5 class="m-0">Diabetes</h5>
                        <ngx-charts-pie-chart class="chart-style" [view]="view" [scheme]="colorScheme"
                            [results]="diabetesData" [gradient]="gradient" [legend]="showLegend"
                            [legendPosition]="legendPosition" [arcWidth]="arcWidth" [labels]="showLabels"
                            [doughnut]="isDoughnut">
                        </ngx-charts-pie-chart>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="pan_box min_h_600">
                    <div class="chart-center">
                        <h5 class="m-0">Hypertension</h5>
                        <ngx-charts-pie-chart class="chart-style" [view]="view" [scheme]="colorScheme"
                            [results]="hypertensionData" [gradient]="gradient" [legend]="showLegend"
                            [legendPosition]="legendPosition" [arcWidth]="arcWidth" [labels]="showLabels"
                            [doughnut]="isDoughnut">
                        </ngx-charts-pie-chart>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="pan_box min_h_600">
                    <div class="chart-center">
                        <h5 class="m-0">Both</h5>
                        <ngx-charts-pie-chart class="chart-style" [view]="view" [scheme]="colorScheme"
                            [results]="bothData" [gradient]="gradient" [legend]="showLegend"
                            [legendPosition]="legendPosition" [arcWidth]="arcWidth" [labels]="showLabels"
                            [doughnut]="isDoughnut">
                        </ngx-charts-pie-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pan_box_sec">
            <div class="col-sm-4 ">
                <div class="pan_box min_h_600">
                    <div class="chart-center">
                        <h5 class="m-0">Diabetes vs Hypertension</h5>
                        <ngx-charts-bar-vertical [view]="barview" [scheme]="barColorScheme" [results]="diabVsHyp"
                            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [showDataLabel]="true"
                            [legendPosition]="legendPosition" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
                        </ngx-charts-bar-vertical>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="table_box max_h_200">
                    <div class="hed py-1">District Wise</div>
                    <div class="table-responsive wrapper">
                        <table class="table hedbg m-0" *ngIf="districtWise">
                            <thead>
                                <tr>
                                    <th>Community District</th>
                                    <th>Community District GID</th>
                                    <th>Total Population</th>
                                    <th>Population >=18</th>
                                    <th>Total Screenings</th>
                                    <th>Confirmed Diabetes Mellitus</th>
                                    <th>Controlled Diabetes Mellitus</th>
                                    <th>Diabetes %</th>
                                    <th>Confirmed Hypertension</th>
                                    <th>Controlled Hypertension</th>
                                    <th>Hypertension %</th>
                                    <th>Confirmed Both</th>
                                    <th>Controlled Both</th>
                                    <th>Both %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let Com of districtWise">
                                    <td>{{Com.district_Name}}</td>
                                    <td>{{Com.district_Gid}}</td>
                                    <td>{{Com.total_Population | number}} </td>
                                    <td>{{Com.population_Age | number}}</td>
                                    <td>{{Com.total_Screening | number }}</td>
                                    <td>{{Com.confirmed_Diabetes_Mellitus | number}}</td>
                                    <td>{{Com.controlled_Diabetes_Mellitus | number}}</td>
                                    <td>{{Com.diabetes_Percentage}}</td>
                                    <td>{{Com.confirmed_Hypertension | number}}</td>
                                    <td>{{Com.controlled_Hypertension | number}}</td>
                                    <td>{{Com.hypertension_Percentage}}</td>
                                    <td>{{Com.confirmed_Both | number}}</td>
                                    <td>{{Com.controlled_Both | number}}</td>
                                    <td>{{Com.both_Percentage}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="row pan_box_sec">
            <div class="table_box max_h_200">
                <div class="hed py-1">Hud Wise</div>
                <div class="table-responsive wrapper">
                    <table class="table hedbg" *ngIf="hudWise">
                        <thead>
                            <tr>
                                <th>Community District</th>
                                <th>Community District GID</th>
                                <th>Community HUD</th>
                                <th>Community HUD GID</th>
                                <th>Total Population</th>
                                <th>Population >=18</th>
                                <th>Total Screenings</th>
                                <th>Confirmed Diabetes Mellitus</th>
                                <th>Controlled Diabetes Mellitus</th>
                                <th>Diabetes %</th>
                                <th>Confirmed Hypertension</th>
                                <th>Controlled Hypertension</th>
                                <th>Hypertension %</th>
                                <th>Confirmed Both</th>
                                <th>Controlled Both</th>
                                <th>Both %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let Com of hudWise">
                                <td>{{Com.district_Name}}</td>
                                <td>{{Com.district_Gid}}</td>
                                <td>{{Com.hud_Name}}</td>
                                <td>{{Com.hud_Gid}}</td>
                                <td>{{Com.total_Population | number}} </td>
                                <td>{{Com.population_Age | number}}</td>
                                <td>{{Com.total_Screening | number }}</td>
                                <td>{{Com.confirmed_Diabetes_Mellitus | number}}</td>
                                <td>{{Com.controlled_Diabetes_Mellitus | number}}</td>
                                <td>{{Com.diabetes_Percentage}}</td>
                                <td>{{Com.confirmed_Hypertension | number}}</td>
                                <td>{{Com.controlled_Hypertension | number}}</td>
                                <td>{{Com.hypertension_Percentage}}</td>
                                <td>{{Com.confirmed_Both | number}}</td>
                                <td>{{Com.controlled_Both | number}}</td>
                                <td>{{Com.both_Percentage}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="row pan_box_sec">
            <div class="table_box max_h_200">
                <div class="hed py-1">Block Wise</div>
                <div class="table-responsive wrapper">
                    <table class="table hedbg" *ngIf="blockWise">
                        <thead>
                            <tr>
                                <th>Community District</th>
                                <th>Community District GID</th>
                                <th>Community HUD</th>
                                <th>Community HUD GID</th>
                                <th>Community Block</th>
                                <th>Community Block GID</th>
                                <th>Total Population</th>
                                <th>Population >=18</th>
                                <th>Total Screenings</th>
                                <th>Confirmed Diabetes Mellitus</th>
                                <th>Controlled Diabetes Mellitus</th>
                                <th>Diabetes %</th>
                                <th>Confirmed Hypertension</th>
                                <th>Controlled Hypertension</th>
                                <th>Hypertension %</th>
                                <th>Confirmed Both</th>
                                <th>Controlled Both</th>
                                <th>Both %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let Com of blockWise">
                                <td>{{Com.district_Name}}</td>
                                <td>{{Com.district_Gid}}</td>
                                <td>{{Com.hud_Name}}</td>
                                <td>{{Com.hud_Gid}}</td>
                                <td>{{Com.block_Name}}</td>
                                <td>{{Com.block_Gid}}</td>
                                <td>{{Com.total_Population | number}} </td>
                                <td>{{Com.population_Age | number}}</td>
                                <td>{{Com.total_Screening | number }}</td>
                                <td>{{Com.confirmed_Diabetes_Mellitus | number}}</td>
                                <td>{{Com.controlled_Diabetes_Mellitus | number}}</td>
                                <td>{{Com.diabetes_Percentage}}</td>
                                <td>{{Com.confirmed_Hypertension | number}}</td>
                                <td>{{Com.controlled_Hypertension | number}}</td>
                                <td>{{Com.hypertension_Percentage}}</td>
                                <td>{{Com.confirmed_Both | number}}</td>
                                <td>{{Com.controlled_Both | number}}</td>
                                <td>{{Com.both_Percentage}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="row pan_box_sec">
            <div class="table_box max_h_200">
                <div class="hed py-1">Village Wise</div>
                <div class="table-responsive wrapper">
                    <table class="table hedbg" *ngIf="VillageWise">
                        <thead>
                            <tr>
                                <th>Community District</th>
                                <th>Community District GID</th>
                                <th>Community HUD</th>
                                <th>Community HUD GID</th>
                                <th>Community Block</th>
                                <th>Community Block GID</th>
                                <th>Community Village</th>
                                <th>Community Village GID</th>
                                <th>Total Population</th>
                                <th>Population >=18</th>
                                <th>Total Screenings</th>
                                <th>Confirmed Diabetes Mellitus</th>
                                <th>Controlled Diabetes Mellitus</th>
                                <th>Diabetes %</th>
                                <th>Confirmed Hypertension</th>
                                <th>Controlled Hypertension</th>
                                <th>Hypertension %</th>
                                <th>Confirmed Both</th>
                                <th>Controlled Both</th>
                                <th>Both %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let Com of VillageWise">
                                <td>{{Com.district_Name}}</td>
                                <td>{{Com.district_Gid}}</td>
                                <td>{{Com.hud_Name}}</td>
                                <td>{{Com.hud_Gid}}</td>
                                <td>{{Com.block_Name}}</td>
                                <td>{{Com.block_Gid}}</td>
                                <td>{{Com.village_Name}}</td>
                                <td>{{Com.village_Gid}}</td>
                                <td>{{Com.total_Population | number}} </td>
                                <td>{{Com.population_Age | number}}</td>
                                <td>{{Com.total_Screening | number }}</td>
                                <td>{{Com.confirmed_Diabetes_Mellitus | number}}</td>
                                <td>{{Com.controlled_Diabetes_Mellitus | number}}</td>
                                <td>{{Com.diabetes_Percentage}}</td>
                                <td>{{Com.confirmed_Hypertension | number}}</td>
                                <td>{{Com.controlled_Hypertension | number}}</td>
                                <td>{{Com.hypertension_Percentage}}</td>
                                <td>{{Com.confirmed_Both | number}}</td>
                                <td>{{Com.controlled_Both | number}}</td>
                                <td>{{Com.both_Percentage}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>