
<input type="checkbox" id="h_menu">
<div class="header">
  <div class="hamburger_menu">
    <label for="h_menu"><i class="bi bi-list"></i></label>
  </div>
  <div class="hed_sty1 top_txt drop_wrap">
    <div class="txt_ellipsis">TNPHR Analytics</div>
    <div class="pop_drop drop_sec">TNPHR Analytics</div>
  </div>
  <div class="spacer"></div>
  <div class="logo"><a href="#"><img src="http://phrreportwriter.timesmed.com/images/tn_all_logos.png" alt="Looker"></a></div>

  <div class="spacer"></div>

  <div class="top_search drop_wrap">
    <i class="bi bi-search search_btn drop_btn"></i>
    <div class="pop_drop drop_sec">
      <input type="text" class="form-control" placeholder="search">
      <ul>
        <li>Community Covid Traiging</li>
        <li>Data Quality</li>
        <li>DPH Dashboard KPI</li>
        <li>Facility performance</li>
        <li>Field verification</li>
        <li>Rural Vs urban Performance v2.1.0</li>
        <li>MTM Beneficiaries Kpi V2.1.0</li>
        <li>Mtm Compliance Control Rate v2.1.0</li>
        <li>MTM Performance V2.1.0</li>
        <li>PHR Performance Dashboard V2.1.0</li>
        <li>User Performance V2.1.0</li>
        <li>UHC performance  Dashboard V2.1.0</li>
        <li>DPH Dashboard V2.1.0</li>
      </ul>
    </div>
  </div>
  <div class="top_help drop_wrap">
    <i class="bi bi-chat-square help_btn drop_btn"></i>
    <div class="pop_drop drop_sec">
      <input type="text" class="form-control" placeholder="Search help">
      <ul>
        <li>Documentation</li>
        <li>User Gugide</li>
        <li>Product idea?</li>
      </ul>
    </div>
  </div>
  <div class="user drop_wrap">
    <!--<div class="img drop_btn"><img src="http://phrreportwriter.timesmed.com/images/Max-R_Headshot (1).jpg" alt="image"></div>-->
    <div class="pop_drop drop_sec">
      <a href="#"><i class="bi bi-person-fill-gear"></i>My Profile</a>
      <a href="#"><i class="bi bi-box-arrow-right"></i>Logout</a>
    </div>
  </div>
</div>
<div class="body">
  <div class="left_pan">
    <div class="left_menus">
      <ul>
        <li><a href="index.html"><i class="bi bi-house-door"></i><span>All Folders</span></a></li>
        <li><a href="#"><i class="bi bi-clock"></i><span>Recently View</span></a></li>
        <li><a href="#"><i class="bi bi-heart"></i><span>Favorites</span></a></li>
        <li class="drop open">
          <a href="#"><i class="bi bi-clipboard2-data"></i><span>Boards</span></a><a href="#"><i class="bi bi-plus"></i></a>
          <div class="no_list">No boards added yet</div>
        </li>
        <li><a [routerLink]="['/Servicemonitoring']"><i class="bi bi-clock"></i><span>Service Monitoring</span></a></li>

        <li><a [routerLink]="['/Mtmperformance']"><i class="bi bi-clock"></i><span>MTM Performance</span></a></li>

        <li><a [routerLink]="['/Populationdashboard']"><i class="bi bi-clock"></i><span>OP Dashboard</span></a></li>

        <li><a [routerLink]="['/Mtmbeneficiaries']"><i class="bi bi-clock"></i><span>MTM Beneficiaries</span></a></li>

        <li><a [routerLink]="['/Facilityperformance']"><i class="bi bi-clock"></i><span>Facility Performance</span></a></li>

        <li><a [routerLink]="['/Populationdashboardkpi']"><i class="bi bi-clock"></i><span>Population Dashboard KPI</span></a></li>

        <li><a [routerLink]="['/Community']"><i class="bi bi-clock"></i><span>Community Triaging</span></a></li>

        <li><a [routerLink]="['/FieldVerification']"><i class="bi bi-clock"></i><span>Field Verification</span></a></li>

        <li><a [routerLink]="['/Pbsscreening']"><i class="bi bi-clock"></i><span>PBS Screening</span></a></li>

        <li><a [routerLink]="['/DataQuality']"><i class="bi bi-clock"></i><span>Data Quality</span></a></li>

        <li><a [routerLink]="['/UserPeroformance']"><i class="bi bi-clock"></i><span>User Peroformance</span></a></li>

        <li><a [routerLink]="['/dphdashboard']"><i class="bi bi-clock"></i><span>DPH Dashboard</span></a></li>

        <!--<li><a href="/Community"><i class="bi bi-clock"></i><span>Community Triaging</span></a></li>-->
        <!--<li><a href="data_quality_v1_0_1.html"><i class="bi bi-clock"></i><span>Menu 1</span></a></li>
  <li><a href="PHR_Performance_Dashboard_V2_1_0.html"><i class="bi bi-clock"></i><span>Menu 2</span></a></li>
  <li><a href="table_list.html"><i class="bi bi-clock"></i><span>Menu 3</span></a></li>-->

      </ul>
    </div>
  </div>
  <div class="right_pan">

    <div class="top_fixed_sec">
      <!--<div class="fix_sec">

      </div>-->


      <div class="scroll_sec">
        <div class="container">
          <div class="row flex_align_center">
            <div class="col-sm-8">
              <!--<div class="hed_sty1">{{secondheading}} <i class="bi bi-heart"></i></div>-->
              <!--<div class="hed_sty1">Community Triage V2.1.0 <i class="bi bi-heart"></i></div>-->
            </div>
            <div class="col-sm-4">
              <div class="menu_items">
                <a href="javascript://" class="btn"><i class="bi bi-arrow-clockwise"></i></a>
                <a href="javascript://" class="btn" id="1245" (click)="ShowHideFilter()"><i class="bi bi-filter"></i></a>
                <a href="javascript://" class="btn"><i class="bi bi-three-dots-vertical"></i></a>
              </div>
            </div>
          </div>

          <div *ngIf="filterDiv">

           
          </div>
        </div>



        <router-outlet></router-outlet>
      </div>



    </div>



  </div>
</div>




